Application/src/main/java/application/stub/admin8.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="AdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9010/admin?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="getPackage">
<part name="parameters" element="tns:getPackage"/>
</message>
<message name="getPackageResponse">
<part name="parameters" element="tns:getPackageResponse"/>
</message>
<message name="getRoute">
<part name="parameters" element="tns:getRoute"/>
</message>
<message name="getRouteResponse">
<part name="parameters" element="tns:getRouteResponse"/>
</message>
<message name="addRoute">
<part name="parameters" element="tns:addRoute"/>
</message>
<message name="addRouteResponse">
<part name="parameters" element="tns:addRouteResponse"/>
</message>
<message name="removeRoute">
<part name="parameters" element="tns:removeRoute"/>
</message>
<message name="removeRouteResponse">
<part name="parameters" element="tns:removeRouteResponse"/>
</message>
<message name="findCityByName">
<part name="parameters" element="tns:findCityByName"/>
</message>
<message name="findCityByNameResponse">
<part name="parameters" element="tns:findCityByNameResponse"/>
</message>
<message name="updateRoute">
<part name="parameters" element="tns:updateRoute"/>
</message>
<message name="updateRouteResponse">
<part name="parameters" element="tns:updateRouteResponse"/>
</message>
<portType name="Admin">
<operation name="add">
<input wsam:Action="http://service/Admin/addRequest" message="tns:add"/>
<output wsam:Action="http://service/Admin/addResponse" message="tns:addResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://service/Admin/removeRequest" message="tns:remove"/>
<output wsam:Action="http://service/Admin/removeResponse" message="tns:removeResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://service/Admin/updateRequest" message="tns:update"/>
<output wsam:Action="http://service/Admin/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="getPackage">
<input wsam:Action="http://service/Admin/getPackageRequest" message="tns:getPackage"/>
<output wsam:Action="http://service/Admin/getPackageResponse" message="tns:getPackageResponse"/>
</operation>
<operation name="getRoute">
<input wsam:Action="http://service/Admin/getRouteRequest" message="tns:getRoute"/>
<output wsam:Action="http://service/Admin/getRouteResponse" message="tns:getRouteResponse"/>
</operation>
<operation name="addRoute">
<input wsam:Action="http://service/Admin/addRouteRequest" message="tns:addRoute"/>
<output wsam:Action="http://service/Admin/addRouteResponse" message="tns:addRouteResponse"/>
</operation>
<operation name="removeRoute">
<input wsam:Action="http://service/Admin/removeRouteRequest" message="tns:removeRoute"/>
<output wsam:Action="http://service/Admin/removeRouteResponse" message="tns:removeRouteResponse"/>
</operation>
<operation name="findCityByName">
<input wsam:Action="http://service/Admin/findCityByNameRequest" message="tns:findCityByName"/>
<output wsam:Action="http://service/Admin/findCityByNameResponse" message="tns:findCityByNameResponse"/>
</operation>
<operation name="updateRoute">
<input wsam:Action="http://service/Admin/updateRouteRequest" message="tns:updateRoute"/>
<output wsam:Action="http://service/Admin/updateRouteResponse" message="tns:updateRouteResponse"/>
</operation>
</portType>
<binding name="AdminPortBinding" type="tns:Admin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCityByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminService">
<port name="AdminPort" binding="tns:AdminPortBinding">
<soap:address location="http://localhost:9010/admin"/>
</port>
</service>
</definitions>