Application/src/main/java/application/stub/client4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ClientService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9020/client?xsd=1"/>
</xsd:schema>
</types>
<message name="list">
<part name="parameters" element="tns:list"/>
</message>
<message name="listResponse">
<part name="parameters" element="tns:listResponse"/>
</message>
<message name="status">
<part name="parameters" element="tns:status"/>
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<portType name="Client">
<operation name="list">
<input wsam:Action="http://service/Client/listRequest" message="tns:list"/>
<output wsam:Action="http://service/Client/listResponse" message="tns:listResponse"/>
</operation>
<operation name="status">
<input wsam:Action="http://service/Client/statusRequest" message="tns:status"/>
<output wsam:Action="http://service/Client/statusResponse" message="tns:statusResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://service/Client/searchRequest" message="tns:search"/>
<output wsam:Action="http://service/Client/searchResponse" message="tns:searchResponse"/>
</operation>
</portType>
<binding name="ClientPortBinding" type="tns:Client">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="list">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="status">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClientService">
<port name="ClientPort" binding="tns:ClientPortBinding">
<soap:address location="http://localhost:9020/client"/>
</port>
</service>
</definitions>